<extend name="Base@Admin/itemedit" />
<block name="title">
<title>编辑权限</title>
</block>
<block name="subject">
<h3>新增权限</h3>
</block>
<block name="edit_ui">
<div class="form-row">
	<label class="form-label"><span>角色名</span></label> <input type="text" class="form-text anchor_c{$k}" cid="c{$k++}" placeholder="" />
</div>
<div class="form-row">
	<label class="form-label"><span>角色状态</span></label> <input type="text" class="form-text anchor_c{$k}" cid="c{$k++}" placeholder="" />
</div>
<div class="form-row">
	<label class="form-label"><span>角色说明</span></label> <input type="text" class="form-text anchor_c{$k}" cid="c{$k++}" placeholder="" />
</div>
</block>