<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>添加活动</title>
    <link rel="stylesheet" href="/ug/b/css/common.css">
    <link rel="stylesheet" href="/ug/b/css/default-skin.css">
    <link rel="stylesheet" href="/ug/b/css/index.css">
</head>
<body class="tab-page">
<div class="default-skin">
    <div class="content-add-header">
        <h5 class="fleft">添加图文</h5>
    </div>
    <div class="content-add-body">
        <form class="form-horizontal" style="">
            <div class="form-cont clear" style="">
                <ul class="form-ul add-coupons-box">
                    <li>
                        <label>活动标题：</label>
                        <div class="input-group">
                            <input type="text" name="title" placeholder="0 - 9个字">
                        </div>
                    </li>
                    <li>
                        <label>活动时效性：</label>
                        <div class="input-group">
                            <label class="radio-label">
                                <input class="radio-input" type="radio" name="radio-input" checked="checked">
                                <span class="radioInput"></span>全部时段
                            </label>
                            <label class="radio-label last">
                                <input class="radio-input" type="radio" name="radio-input">
                                <span class="radioInput"></span>部分时段
                            </label>
                        </div>
                    </li>
                    <li>
                        <label>编辑活动：</label>
                        <div class="input-group">
                            <script id="editor_wrap" name="content" type="text/plain">这里写你的初始化内容</script>
                        </div>
                    </li>
                    <li>
                        <label>添加优惠券：</label>
                        <div class="input-group">
                            <div>
                                <label class="radio-label">
                                    <input class="radio-input" type="radio" name="radio-input">
                                    <span class="radioInput"></span>是
                                </label>
                                <label class="radio-label last">
                                    <input class="radio-input" type="radio" name="radio-input" checked="checked">
                                    <span class="radioInput"></span>否
                                </label>
                            </div>
                            <div class="clear">
                                <select class="sel-normal" name="">
                                    <option>镜片</option>
                                    <option>镜架</option>
                                    <option>太阳镜</option>
                                    <option>隐型眼镜</option>
                                    <option>代价券</option>
                                    <option>老花镜</option>
                                    <option>其他商品</option>
                                    <option>黄金</option>
                                    <option>低值易耗品</option>
                                    <option>隐型眼镜辅助产品</option>
                                    <option>眼镜辅助产品</option>
                                    <option>隐形眼镜药水、药片、</option>
                                    <option>折扣券</option>
                                    <option>模块</option>
                                    <option>数码产品</option>
                                    <option>广医</option>
                                    <option>硬性隐形眼镜</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-box line">
                <a href="javascript:void(0);" class="btn btn-success save">保存</a>
            </div>
        </form>
    </div>
</div>
</body>
<!--[if IE 8]>
<script src="common/js/jquery-1.11.0.min.js"></script>
<![endif]-->
<script src="common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="ueditor/ueditor.all.js"></script>
<script src="common/js/left-menu.js"></script>
<script src="js/index.js"></script>
</html>
