<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>form-list</title>
    <link rel="stylesheet" href="/ug/b/css/common.css">
    <link rel="stylesheet" href="/ug/b/css/default-skin.css">
    <link rel="stylesheet" href="/ug/b/css/index.css">
	<link rel="stylesheet" href="/ug/b/css/modal-box.css">
	<link rel="stylesheet" href="/ug/b/css/table.css">
	<link rel="stylesheet" href="/ug/b/css/calendar.css">
    <link rel="stylesheet" href="/ug/b/css/stores.css">
    <style>
        .mr-8 {
            padding-right: 8px;
        }
        .mt10 {
            padding-top: 10px;
        }
    </style>
</head>
<body class="tab-page">
<div class="default-skin">
    <div class="content-header clear">
        <span class="fleft mr-8">1.</span>
        <a href="javascript:;" id="add-role" class="button btn-add">添加</a><!--如果右对齐的话只要添加fright就可以了-->
        <a href="javascript:;" class="button btn-add fright">添加</a><!--如果右对齐的话只要添加fright就可以了-->
    </div>
    <div class="content-header clear">
        <span class="fleft mr-8">2.</span>
        <div class="search-box">
            <select class="w-small" name="coupon-type">
                <option value="1">电子消费券</option>
                <option value="2">折扣券</option>
                <option value="3">积分券</option>
            </select>
            <input autocomplete="off" type="text" placeholder="关键字搜索">
            <a class="button btn-search"></a>
        </div>
    </div>
    <div class="content-header clear">
        <span class="fleft mr-8">3.</span>
        <div class="search-box">
            <input type="text" value="" placeholder="关键字搜索">
            <a class="button btn-search"></a>
        </div>
    </div>
    <div class="content-header clear">
        <span class="fleft mr-8">4.</span>
        <ul class="optometry-box clear mt10">
            <li>
                <a class="button button-default" href="#">验光师</a>
                <a class="" href="#">预约验光人员</a>
            </li>
        </ul>
        <div class="search-box clear mt10">
            <input type="text" value="" placeholder="关键字搜索">
            <a class="button btn-search"></a>
        </div>
    </div>
    <div class="content-header clear">
        <span class="fleft mr-8">5.</span>
        <div class="search-box">
            <ul class="form-ul">
                <li>
                    <label>用户名:</label>
                    <input type="text" name="username" value="" placeholder="用户名">
                </li>
                <li>
                    <label>时间:</label>
                    <div class="plug-cal date-time mr-small">
                        <input type="datetime" placeholder="开始时间"/><!--需要显示具体日期+时分秒-->
                        <i class="icon icon-date"></i>
                    </div>
                    <div class="plug-cal date-time">
                        <input type="datetime" placeholder="结束时间"/><!--需要显示具体日期+时分秒-->
                        <i class="icon icon-date"></i>
                    </div>
                    <a class="button btn-search"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-header clear">
        <span class="fleft mr-8">select.</span>
        <ul class="form-ul add-coupons-box fleft">
            <li>
                <label>所属品牌品种：</label>
                <select class="w-normal fleft mr-small" name="brand_id">
                    <option>镜片</option>
                    <option>镜架</option>
                    <option>太阳镜</option>
                    <option>隐型眼镜</option>
                    <option>代价券</option>
                    <option>老花镜</option>
                    <option>其他商品</option>
                    <option>黄金</option>
                    <option>低值易耗品</option>
                    <option>隐型眼镜辅助产品</option>
                    <option>眼镜辅助产品</option>
                    <option>隐形眼镜药水、药片、</option>
                    <option>折扣券</option>
                    <option>模块</option>
                    <option>数码产品</option>
                    <option>广医</option>
                    <option>硬性隐形眼镜</option>
                </select>
                <select class="w-normal fleft mr-small" name="product_id">
                    <option>镜片</option>
                    <option>镜架</option>
                    <option>太阳镜</option>
                    <option>隐型眼镜</option>
                    <option>代价券</option>
                    <option>老花镜</option>
                    <option>其他商品</option>
                    <option>黄金</option>
                    <option>隐形眼镜药水、药片、</option>
                </select>
            </li>
        </ul>
    </div>
    <ul class="form-ul add-coupons-box clear">
        <span class="fleft mr-8">radio.</span>
        <li>
            <label>活动时效性：</label>
            <div class="input-group">
                <label class="radio-label">
                    <input class="radio-input" type="radio" name="radio-input" checked="checked">
                    <span class="radioInput"></span>全部时段
                </label>
                <label class="radio-label last">
                    <input class="radio-input" type="radio" name="radio-input">
                    <span class="radioInput"></span>部分时段
                </label>
            </div>
        </li>
    </ul>
</div>
<div class="content-header clear">
    <label>checkbox.</label>
    <div class="input-group">
        <label class="radio-label checkbox-label">
            <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14" checked>
            <span class="radio-checkbox radioInput"></span>2017-10-14
        </label>
    </div>
</div>
<div class="content-header clear"><span>表格按钮标准样例:</span>
    <a class="button btn-set-power mr-big" title="配置权限" id="setPower" href="javascript:;" data-row="10">权限</a>
    <a class="button btn-publish mr-big" title="发布" id="publishdata" href="javascript:;" data-row="10">发布</a>
    <a class="button btn-link mr-big" title="复制链接" id="linkdata" href="javascript:;" data-row="10">复制</a>
    <a class="button btn-qrcode mr-big" title="二维码" id="qrcodedata" href="javascript:;" data-row="10">二维码</a>
    <a class="button btn-undercarriage mr-big" title="下架" id="undercarriagedata" href="javascript:;" data-row="10">下架</a>
    <a class="button btn-edit mr-big" title="编辑" id="modifydata" href="javascript:;" data-row="10">编辑</a>
    <a class="button btn-red btn-del" title="删除" id="deldata" href="javascript:;" data-row="10">删除</a>
</div>
<div class="content-header clear"><span>按钮标准样例:</span>
    <a class="button button-default" href="#">保存</a>
</div>
<div class="content-header clear"><span>提示文字:</span>
    <div class="tips">*分店名不得含有区域地址信息（如，“北京国贸店”中的“北京”）</div>
</div>
<div class="default-skin content-header clear"><span>列表样例:</span>
    <div class="form-cont clear" style="">
        <ul class="form-ul add-coupons-box">
            <li>
                <input type="hidden" name="id" value="">
            </li>
            <li>
                <label>门店名称：</label>
                <div class="input-group">
                    <input type="text" name="business_name" placeholder="门店名称" style="width: 415px;">
                    <div class="tips">*分店名不得含有区域地址信息（如，“北京国贸店”中的“北京”）</div>
                </div>
            </li>
            <li>
                <label>分店名称：</label>
                <div class="input-group">
                    <input type="text" name="branch_name" placeholder="分店名称">
                    <div class="tips">*分店名不得含有区域地址信息（如，“北京国贸店”中的“北京”）</div>
                </div>
            </li>
            <li>
                <label>店铺经纬度：</label>
                <div class="input-group" style="position: relative;">
                    <input type="text" name="longitude" placeholder="经度">
                    <input type="text" name="latitude" placeholder="纬度">
                    <a href="javascript:void(0);" onclick="get_coordinate()">获取经纬度</a>
                    <!-- <span class="tips help1" style="width: 200px;">如何获取经纬度？</span> -->
                    <div id="map">
                        <div class="map-title">
                            <div style="float: left;">
                                <input type="text" id="suggestId">
                                <div id="searchResultPanel"></div>
                            </div>
                            <a href="javascript:void(0);" onclick="close_map();" style="float: right;">关闭</a>
                        </div>
                        <div id="map-body"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
	<script type="text/javascript" src="/ug/js/jquery.min.js"></script>
	<script type="text/javascript" src="/ug/js/plugincore.js"></script>
	<script type="text/javascript" src="/ug/b/js/dialog.js"></script>
	<script type="text/javascript" src="/ug/b/js/datatable.js"></script>
	<script type="text/javascript" src="/ug/b/js/calendar.js"></script>
	<script type="text/javascript">
		//$('.plug-cal').calendar();
		$('.plug-cal').calendar('yyyy-MM-dd hh:mm:ss');
	</script>
</html>
