<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>角色管理</title>
    <link rel="stylesheet" href="/ug/b/css/common.css">
    <link rel="stylesheet" href="/ug/b/css/default-skin.css">
    <link rel="stylesheet" href="/ug/b/css/modal-box.css">
    <link rel="stylesheet" href="/ug/b/css/table.css">
</head>
<body>
<div class="modal-filter"></div>
<div class="default-skin modal-wrap">
    <div class="modal-top">
        <h5 class="keep-all">添加角色</h5>
    </div>
    <div class="modal-body">
        <ul class="cont-ul">
           <li>
                <label>用户账号：</label>
                <div class="input-group">
                    <input autocomplete="off" type="text" id="username" name="username" placeholder="用户账号" value="">
                </div>
            </li>
            <li>
                <label>用户密码：</label>
                <div class="input-group">
                    <input autocomplete="off" type="password" id="password" name="password" placeholder="用户密码"
                           value="">
                </div>
            </li>
            <li>
                <label>用户角色：</label>
                <div class="input-group">
                    <select name="role_id" class="role_id">
                        <option value="3">超级管理员</option>
                        <option value="4">普通管理员</option>
                    </select>
                </div>
            </li>
            <li>
                <label>角色描述：</label>
                <div class="input-group">
                    <textarea class="roleintro" name="roleintro" placeholder="角色描述（50字以内）"></textarea>
                </div>
            </li></ul>
    </div>
    <div class="modal-btn-box">
        <a href="javascript:;" id="btn-cancle" class="btn-cancle">取消</a>
        <a href="javascript:;" id="btn-save" class="btn-save">保存</a>
    </div>
</div>
<script>

//    confirm("fgryhfgh");
</script>
</body>
<!--[if IE 8]>
<style type="text/css">
    .modal-filter {
        background: #000;
        opacity: .8;
        filter: alpha(opacity=80);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    }
</style>
<![endif]-->
<script src="common/js/jquery-1.11.0.min.js"></script>
<script src="common/js/placeholder.js"></script>
<![endif]-->
<!--[if IE 8]>
<script>
    $(function () {
        var $obj = $('.modal-wrap');
        var modalHeight = $obj.height() / 2;
        var modalWidth = $obj.width() / 2;
        $obj.css({
            'top': '50%',
            'left': '50%',
            'margin-top': -modalHeight,
            'margin-left': -modalWidth
        });

    });
</script>
<![endif]-->
<script src="common/js/jquery-3.2.1.min.js"></script>
<!--<script src="js/role.js"></script>-->
</html>
