<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <title>群组管理--发图文弹框</title>

    <link rel="stylesheet" href="/ug/b/css/common.css">

    <link rel="stylesheet" href="/ug/b/css/default-skin.css">

    <link rel="stylesheet" href="/ug/b/css/modal-box.css">

</head>

<body>

<div class="modal-filter"></div>

<!--发图文弹框-->
<div class="default-skin modal-wrap wfixed">
    <div class="modal-top">
        <h5 class="keep-all">标题</h5>
    </div>
    <div class="modal-body">
        <div class="form-wrap">
            <ul class="form-ul form-menu-list clear">
                <li>
                    <div class="fleft list-box">
                        <label class="radio-label checkbox-label">
                            <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14" checked="">
                            <span class="radio-checkbox radioInput"></span>基础设置
                        </label>
                    </div>
                    <div class="sub-menu-form fleft">
                        <ul class="sub-list-form fleft">
                            <li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义菜单
                                </label>
                            </li>
                            <li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义回复
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="fleft list-box">
                        <label class="radio-label checkbox-label">
                            <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14" checked="">
                            <span class="radio-checkbox radioInput"></span>基础设置
                        </label>
                    </div>
                    <div class="sub-menu-form fleft">
                        <ul class="sub-list-form">
                            <li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义菜单
                                </label>
                            </li>
                            <li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义回复
                                </label>
                            </li><li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义菜单
                                </label>
                            </li>
                            <li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义回复
                                </label>
                            </li><li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义菜单
                                </label>
                            </li>
                            <li>
                                <label class="radio-label checkbox-label">
                                    <input class="radio-input" type="checkbox" name="schedule_time[]" value="2017-10-14"
                                           checked="">
                                    <span class="radio-checkbox radioInput"></span>自定义回复
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
