<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<title>后台管理系统</title>
<link rel="stylesheet" href="/ug/b/css/common.css">
<link rel="stylesheet" href="/ug/b/css/default-skin.css">
<link rel="stylesheet" href="/ug/b/css/modal-box.css">
<link rel="stylesheet" href="/ug/b/css/table.css">
</head>
<body class="tab-page">
	<div class="default-skin">
	
	</div>
	<script type="text/javascript" src="/ug/js/jquery.min.js"></script>
	<script type="text/javascript" src="/ug/js/plugincore.js"></script>
	<script type="text/javascript" src="/ug/b/js/dialog.js"></script>
	<script type="text/javascript" src="/ug/b/js/datatable.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>