<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>自动回复--编辑</title>
    <link rel="stylesheet" href="/ug/b/css/common.css">
    <link rel="stylesheet" href="/ug/b/css/table.css">
    <link rel="stylesheet" href="/ug/b/css/default-skin.css">
    <link rel="stylesheet" href="/ug/b/css/index.css">
    <link rel="stylesheet" href="/ug/b/css/reply-edit.css">
</head>
<body class="tab-page">
<div class="default-skin">
    <form id="edit_reply">
        <div class="content-add-header">
            <h5 class="fleft">编辑</h5>
        </div>
        <div class="form-cont clear mt20">
            <ul class="form-ul">
                <li>
                    <label>关键字：</label>
                    <div class="input-group">
                        <input type="text" name="name" placeholder="关键字" value=""
                               data-topindex="0"
                               data-subindex="2">
                        <div class="tips">多个关键字请用空格间隔</div>
                    </div>
                </li>
                <li>
                    <label>回复方式：</label>
                    <div class="input-group">
                        <select name="reply_type"  class="sel-normal">
                            <option value="1" selected="selected">文字</option>
                            <option value="2">图文</option>
                        </select>
                        <div class="reply-type reply-type1">
                            <textarea class="textarea textarea-default" name="reply_obj" placeholder="回复内容，字数控制在150字之内">hello world</textarea>
                        </div>
                        <div class="reply-type reply-type2" style="display: none">
                            <div class="reply-type-div">
                                <input type="hidden" name="media_id">
                                <a href="#sel_news" data-toggle="modal">从素材库选择</a>
                                <table class="table"></table>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <label>精确回复：</label>
                    <div class="input-group">
                        <label class="radio-label">
                            <input class="radio-input" type="radio" name="radio-input" data-text="是" checked="checked">
                            <span class="radioInput"></span>是
                        </label>
                        <label class="radio-label">
                            <input class="radio-input" type="radio" name="radio-input" data-text="否">
                            <span class="radioInput"></span>否
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-box">
            <a href="javascript:void(0);" type="submit" class="btn btn-success" id="edit_reply_btn">提交</a>
        </div>
    </form>
</div>
</body>
<script src="/ug/js/jquery.min.js"></script>
<script>
    $(function () {
        $('.reply-type-div').on('click',setBorder);
        $('.reply-type > textarea').on('focus',setFocus);
        $('.reply-type > textarea').on('blur',cancleFocus);
    });
    function setBorder() {
        $(this).closest('.reply-type').toggleClass('focus');
    }
    function setFocus() {
        $(this).closest('.reply-type').addClass('focus');
    }
    function cancleFocus() {
        $(this).closest('.reply-type').removeClass('focus');
    }
</script>
</html>
