<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="renderer" content="webkit">
<title>汉高微信后台管理</title>
</head>
<body>

<!-- beg -->
<div>html展示</div>
<!-- end -->
yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy  

<script type="text/javascript">
var a;
//-- beg
a={b:'ccccc',d:'eeeee'};
//-- end
console.log(a);
</script>
</body>
</html>