<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<title>后台管理系统</title>
<link rel="stylesheet" href="/ug/b/css/common.css">
<link rel="stylesheet" href="/ug/b/css/default-skin.css">
<link rel="stylesheet" href="/ug/b/css/modal-box.css">
<link rel="stylesheet" href="/ug/b/css/table.css">
<style type="text/css">
.example{
	cursor:pointer;
	color:green;
	font-weight: bolder;
}
</style>
</head>
<body class="tab-page">
	<div class="default-skin">
	
<div class="example alert">提示对话框</div>
<pre>
$.alert('提示对话框',function(){
	//点击确认后的操作
	console.log('ok');
}).buttons('自定义按钮文字');
</pre>


<div class="example confirm">确认对话框</div>
<pre>
$.confirm('确认对话框标题','确认对话框消息',function(){
	//点击确认后的操作
	$.alert('ok');
},function(){
	//点击确认后的操作
	$.alert('cancel');
}).buttons('自定义确认','自定义取消');
</pre>
	
<div class="example dialog">自定义对话框</div>
<pre>html：
&lt;div id="mydialog" style="display:none;"&gt;
	&lt;div&gt;
	商品名称：&lt;input type="text"&gt;&lt;br&gt;
	商品品类：&lt;input type="text"&gt;&lt;br&gt;
	&lt;button class="btn-close"&gt;关闭对话框&lt;/button&gt;
	&lt;/div&gt;
&lt;/div&gt;	
js：
$('#mydialog').on('click','.btn-close',function(){
	$('#mydialog').dialog().hide();
});
$('#mydialog').dialog('对话框标题',function(){
	//点击确认后的操作
	var inputs=$(this).find('input');
	$.alert(inputs.eq(0).val() + '  ' + inputs.eq(1).val());
},function(){
	//点击取消后的操作
	console.log('cancel');
	//如果只需要一个按钮，下面buttons方法只传入一个参数
}).buttons('自定义确认','自定义取消');
</pre>
	
<div class="example listdialog">自定义列表选择对话框</div>
<pre>
&lt;script type="text/javascript" src="/ug/b/js/list_dlg.js"&gt;&lt;/script&gt;
var conf = {
	title : '请选择XXX',
	url : '/Admin/Index/test',
	setData : function(jo){
		var data = jo.rows;
		var html = '';
		html += '&lt;ul&gt;';
		for (var i = 0; i &lt; data.length; i++) {
			html += '&lt;li class="myitem"' + this.getNoHtml(i) + '&gt;' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '&lt;/li&gt;';
		}
		for (var i = 0; i &lt; data.length; i++) {
			html += '&lt;li class="myitem"' + this.getNoHtml(i) + '&gt;' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '&lt;/li&gt;';
		}
		html += '&lt;/ul&gt;';				
		return {data:data,html:html}
	},
	event : {
		cls : 'myitem',
		callback : function(d){
			console.log(d);
			$.alert(d.c0);
		}
	},
	button : {
		title : '哈哈哈',
		callback : function(){
			console.log('click button');
		}
	},
};
$.listDialog(conf);

$.listDialog().show();
</pre>

<br>
<br>
	</div>
	
	<div id="mydialog" style="display:none;">
		<div>
		商品名称：<input type="text"><br>
		商品品类：<input type="text"><br>
		<button class="btn-close">关闭对话框</button>
		</div>
	</div>
	<script type="text/javascript" src="/ug/js/jquery.min.js"></script>
	<script type="text/javascript" src="/ug/js/plugincore.js"></script>
	<script type="text/javascript" src="/ug/b/js/dialog.js"></script>
	<script type="text/javascript" src="/ug/b/js/datatable.js"></script>
	<script type="text/javascript" src="/ug/b/js/list_dlg.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.alert').on('click',function(){
				$.alert('提示对话框',function(){
					//点击确认后的操作
					console.log('ok');
				}).buttons('自定义按钮文字');
			});
			$('.confirm').on('click',function(){
				$.confirm('确认对话框标题','确认对话框消息',function(){
					//点击确认后的操作
					$.alert('ok');
				},function(){
					//点击确取消的操作
					$.alert('cancel');
				}).buttons('自定义确认','自定义取消');
			});
			$('#mydialog').on('click','.btn-close',function(){
				$('#mydialog').dialog().hide();
			});
			$('.dialog').on('click',function(){
				$('#mydialog').dialog('对话框标题',function(){
					//点击确认后的操作
					var inputs=$(this).find('input');
					$.alert(inputs.eq(0).val() + ' ; ' + inputs.eq(1).val());
				},function(){
					//点击确认后的操作
					console.log('cancel');
					//如果只需要一个按钮，下面buttons方法只传入一个参数
				}).buttons('自定义确认','自定义取消');
			});
			$('.listdialog').on('click',function(){
				var conf = {
					title : '请选择XXX',
					url : '/Admin/Index/test',
					setData : function(jo){
						var data = jo.rows;
						var html = '';
						html += '<ul>';
						for (var i = 0; i < data.length; i++) {
							html += '<li class="myitem"' + this.getNoHtml(i) + '>' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '</li>';
						}
						for (var i = 0; i < data.length; i++) {
							html += '<li class="myitem"' + this.getNoHtml(i) + '>' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '</li>';
						}
						for (var i = 0; i < data.length; i++) {
							html += '<li class="myitem"' + this.getNoHtml(i) + '>' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '</li>';
						}
						for (var i = 0; i < data.length; i++) {
							html += '<li class="myitem"' + this.getNoHtml(i) + '>' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '</li>';
						}
						for (var i = 0; i < data.length; i++) {
							html += '<li class="myitem"' + this.getNoHtml(i) + '>' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '</li>';
						}
						for (var i = 0; i < data.length; i++) {
							html += '<li class="myitem"' + this.getNoHtml(i) + '>' + data[i].c0 + '--' + data[i].c1 + '--' + data[i].c2 + '--' + '</li>';
						}
						html += '</ul>';				
						return {data:data,html:html}
					},
					event : {
						cls : 'myitem',
						callback : function(d){
							console.log(d);
							$.alert(d.c0);
						}
					},
					button : {
						title : '哈哈哈',
						callback : function(){
							console.log('click button');
						}
					},
				};
				$.listDialog(conf);
				
				$.listDialog().show();
			});
		});
	</script>
</body>
</html>