<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>后台管理系统</title>
<link rel="stylesheet" href="/ug/b/css/common.css">
<link rel="stylesheet" href="/ug/b/css/default-skin.css">
<link rel="stylesheet" href="/ug/b/css/modal-box.css">
<link rel="stylesheet" href="/ug/b/css/left.css">
<link rel="stylesheet" href="/ug/b/css/header.css">
<style type="text/css">
html, body {
    height: 100%;
    overflow: hidden;
    min-width: 700px;	
}
::-webkit-scrollbar { /*隐藏滚轮*/
	display: none;
}
li.arrow-down>a>.arrow {
    width: 14px;	
    background: url(/ug/b/img/icon-arrow-down.png) no-repeat center;
}
</style>
</head>
<body>
	<div class="console-body default-skin">
		<div class="header">
			<div class="header-nav">
				<div class="header-box">
					<div class="nav-left">
						<a class="logo fleft"> <i class="fleft"> </i> <span>{$company}</span>
						</a>
					</div>
					<div class="navbar-center">微信公众号后台管理系统</div>
					<div class="nav-right">
						<ul class="right-box">
							<li><a> <i class="icon-shop"> <img src="/ug/b/img/icon-shop.png">
								</i> <span>{$company}</span>
							</a></li>
							<li><a id="btn-logout"> <i class="icon-logout"> </i> <span>退出</span>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-blue"></div>
		<div class="console-content">
			<div class="menu-wrap">
				<ul class="menu-list" id="menu_container"></ul>
				<div class="bg-blue"></div>
			</div>
			<!--menu-wrap end-->
			<div class="content-page">
				<div class="cont-top">
					<div class="cont-top-bg"></div>
					<div class="cont-top-l" id="tab-backward" style="cursor: pointer;">
						<i class="icon icon-return"></i><span class="border-r"></span>
					</div>
					<div class="cont-top-mid">
						<ul class="cont-tab-list" id="tab_container"></ul>
					</div>
					<!--cont-top-mid end-->
					<div class="cont-top-r">
						<div id="tab-forward" style="cursor: pointer;">
							<span class="border-l"></span> <i class="icon icon-go fleft"></i> <span class="border-r"></span>
						</div>
						<div class="tab-operat" style="cursor: pointer;">选项卡操作</div>
						<ul class="tab-other-opration-dropdown flag-click-hide" style="display: none">
							<li class="tab-opration-menu" id="tab-position"><a><i class="fa fa-map-marker"></i> 定位当前选项卡</a></li>
							<li class="divider"></li>
							<li class="tab-opration-menu" id="tab-refresh"><a><i class="fa fa-refresh"></i> 刷新当前选项卡</a></li>
							<li class="divider"></li>
							<li class="tab-opration-menu" id="tab-closeall"><a><i class="fa fa-times-circle-o"></i> 关闭全部选项卡</a></li>
							<li class="tab-opration-menu" id="tab-closeother"><a><i class="fa fa-window-close"></i> 关闭其他选项卡</a></li>
						</ul>
					</div>
				</div>
				<!--cont-top-r end-->
				<div class="page-wrap" id="ifr_container">
					<!--放入每个页面的内容-->
				</div>
			</div>
			<!--content-page end-->
		</div>
		<!--console-content end-->
	</div>
	<div id="mydialog" style="display:none;">
	<div><p>myself dialog,hahahaha</p></div>
	</div>
	<script type="text/javascript" src="/ug/js/jquery.min.js"></script>
	<script type="text/javascript" src="/ug/js/plugincore.js"></script>
	<script type="text/javascript" src="/ug/b/js/dialog.js"></script>
	<script type="text/javascript" src="/ug/b/js/menu_tab.js"></script>
	<script type="text/javascript">
		$(function() {
			$.menuTab({
				data: {$menudata},
				menus : $('#menu_container'),
				tabs : $('#tab_container'),
				ifrs : $('#ifr_container'),
				onItem : null,
				button : {
					backward : $('#tab-backward'),
					forward : $('#tab-forward'),
					closeAll : $('#tab-closeall'),
					closeOther : $('#tab-closeother'),
					position : $('#tab-position'),
					refresh : $('#tab-refresh'),
					callback : function(node){
						node.parent('.flag-click-hide').hide();
					}
				},
			});

			$.openWin = function() {
				window.open.apply(window, arguments);
			};
			$.openTab = function(url, title, tag) {
				return $.menuTab().openTab(url, title, tag);
			};
			$.setTabTitle = function(title) {
				return $.menuTab().setTabTitle(title);
			};
			$.closeTab = function(tag) {
				return $.menuTab().closeTab(tag);
			};
			
			$('.tab-operat').on('click', function() {				
				var tools = $('.tab-other-opration-dropdown');
				if (tools.is(':visible')) {
					tools.hide();
				} else {
					tools.show();
				}
			});
			
			function outsideRange(e,node){
				e = e || window.event;
	            var x = e.pageX || e.clientX + document.body.scroolLeft;
	            var y = e.pageY || e.clientY + document.body.scrollTop;
	            var off = node.offset();
	            if(x < off.left || y < off.top || x > off.left+node.width() ||  y > off.top+node.height()){
	            	return true;
	            }
	            return false;
			}
			
			$('.tab-other-opration-dropdown').on('mouseout', function(e) {
				e.preventDefault();
				e.stopPropagation();
				if(outsideRange(e,$(this))){
					$(this).hide();
				}
			});
						
			$('#btn-logout').on('click',function(e){
				e.preventDefault();
				e.stopPropagation();
				$.ajaxExt('{:U('/Admin/Login/logout')}','正在退出，请稍候...',function(jo){
					if(jo.isOk()){
						window.location.reload();
					}else{
						$.alert(jo.getMessage());
					}
				});
			});
		});
	</script>
</body>
</html>