<extend name="Base@Admin/itemedit" />
<block name="title">
<title>编辑菜单</title>
</block>
<block name="edit_ui">
<div class="form-row">
	<label class="form-label"><span>菜单名</span></label> <input type="text" class="form-text anchor_c{$k}" cid="c{$k++}" placeholder="" />
</div>
<div class="form-row">
	<label class="form-label"><span>url</span></label> <input type="text" class="form-text anchor_c{$k}" cid="c{$k++}" placeholder="" />
</div>
<div class="form-row">
	<label class="form-label"><span>菜单类型</span></label><br>
	<textarea class="form-text anchor_c{$k}" rows="3" cid="c{$k++}" style="width: 100%;"></textarea>
</div>
</block>