<extend name="Base@Admin/datatable" />
<block name="title">
<title>菜单列表</title>
</block>
<block name="js"> <script type="text/javascript">
	inf_dtbl.sort=true;
	inf_dtbl.cols = [ {
		col : 'c0',
		tit : '菜单名',
	}, {
		col : 'c1',
		tit : 'url',
	}, {
		col : 'c2',
		tit : '菜单类型',
	}, ]; 

	inf_dtbl.query={btn:'.d-query-btn'}; 
	inf_dtbl.query.filter=function(){
		return {q0:$('#d-query-text').val()};
	};
</script> </block>
<block name="query_ui">
<div class="content-header">
	<div class="search-box">
		<input id="d-query-text" type="text" value="" placeholder="搜索菜单名或url" class="anchor_c{$k}" cid="c{$k++}" > <a class="button btn-search d-query-btn"></a>
	</div>
</div>

</block>