<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<block name="title">
<title>汉高微信后台管理</title>
</block>
<link href="/res/css/bootstrap.min.css" rel="stylesheet">
<link href="/res/css/font-awesome.css" rel="stylesheet">
<link href="/res/css/mydialog.css" rel="stylesheet">
<link href="/res/css/datatable.css" rel="stylesheet">
<link href="/res/css/pagination.css" rel="stylesheet">
<style type="text/css">
body {
	padding: 5px;
}
</style>
</head>
<body>
	<div id="tblcont"></div>
	<script type="text/javascript" src="/res/js/jquery.min.js"></script>
	<script type="text/javascript" src="/res/js/mycore.js"></script>
	<script type="text/javascript" src="/res/js/mydialog.js"></script>
	<script type="text/javascript" src="/res/js/datatable.js"></script>
	<script type="text/javascript" src="/res/js/formvals.js"></script>
	<script type="text/javascript">
	var tpl_obj={};
	$(function() {
		var sysCate={$cate};
		dtblConf={sort:false, thumbnail:0};
		dtblConf.rows = {$data};
		dtblConf.cols = [ {
			col : 'uri',
			tit : 'uri',
		}, {
			col : 'remark',
			tit : '功能描述',
			rep : function(d){
				var html = '';
				html += '<input type="hidden" value="'+d.uri.html2escape()+'"  cid="c0"><input type="text" value="'+d.remark.html2escape()+'" class="anchor_c1" cid="c1" >';
				return html;
			}
		}, {
			col : 'cate',
			tit : '权限类型',
			rep : function(d){
				var html = '',i=0;
				html += '<select class="anchor_c2" cid="c2" >';
				html += '<option value="0">--请选择--</option>';
				for(i=0;i<sysCate.length;i++){
					html += '<option value="'+sysCate[i].val+'" ';
					if(sysCate[i].val==d.cate){
						html += ' selected';
					}
					html += '>'+sysCate[i].title+'</option>';
				}
				html += '</select>';
				return html;
			}
		}, {
			col : 'ismenu',
			tit : '入口菜单',
			rep : function(d){
				var html = '';
				html += '<label><input type="checkbox" value="1" class="anchor_c3" cid="c3"';
				if(d.ismenu==1){
					html += ' checked';
				}
				html += ' > 是</label>';
				return html;
			}
		}, ];
		dtblConf.menus = {
			callback : function(tag, d) {
				switch(tag){
				case 'addsave':
					itemAddSave(d, $(this));
					break;
				default :
					break;
				}
			},
			rows : [{
				tag : 'addsave',
				title : '发布',
				icon : 'fa fa-send'
			}],
		};
		tpl_obj.tblctl=$('#tblcont').datatable(dtblConf);
	});

	function itemAddSave(d, jq){
		if(!d){
			return;
		}
		tpl_obj.evtjq=jq;
		tpl_obj.evttr=jq.parents('*[_no]:first');
		var pdata={};
		$.formvals(tpl_obj.evttr,'cid',pdata);
		for(var k in pdata){
			if(pdata[k] === '' || pdata[k] === '0'){
				if(k=='c3'){
					pdata[k] = 0;
					continue;
				}
				var anchor=tpl_obj.evttr.find('.anchor_'+k);
				anchor.poptip('请输入或选择信息');
				anchor.trigger('focus');
				return false;
			}
		}
		var turl='{$url.addsave}';
		$.ajaxExt(turl,pdata,function(jo){
			if(jo.isOk()){
				tpl_obj.evttr.remove();
			}else{
				$.alert(jo.getMessage());
			}
		});
	};
	</script>
</body>
</html>