<extend name="Base@Admin/listedit" />
<block name="title">
<title>菜单列表</title>
</block>
<block name="js"> <script type="text/javascript">
	var syscate={$cate};
	inf_dtbl.sort=true;
	inf_dtbl.cols = [ {
		col : 'c3',
		tit : 'uri',
	}, {
		col : 'c0',
		tit : '功能描述',
		rep : function(d){
			var html = '';
			html += '<input type="text" value="'+d.c0.html2escape()+'" class="anchor_c0" cid="c0" >';
			return html;
		}
	}, {
		col : 'c1',
		tit : '权限类型',
		rep : function(d){
			var html = '',i=0;
			html += '<select class="anchor_c1" cid="c1" >';
			html += '<option value="0">--请选择--</option>';
			for(i=0;i<syscate.length;i++){
				html += '<option value="'+syscate[i].val+'" ';
				if(syscate[i].val==d.c1){
					html += ' selected';
				}
				html += '>'+syscate[i].title+'</option>';
			}
			html += '</select>';
			return html;
		}
	}, {
		col : 'c2',
		tit : '入口菜单',
		rep : function(d) {
			var html = '';
			html += '<label><input type="checkbox" value="1" class="anchor_c2" cid="c2"';
			if(d.c2==1){
				html += ' checked';
			}
			html += ' > 是</label>';
			return html;
		}
	}, {
		col : 'c4',
		tit : '创建时间',
		rep : function(d) {
			return d.c4.date('yyyy-MM-dd hh:mm:ss');
		}
	}, ];
	function ignoreForm(c,data){
		if(c=='c2'){
			data[c]=0;
			return true;
		}
	}

	inf_dtbl.query={btn:'.d-query-btn'}; 
	inf_dtbl.query.filter=function(){
		return {q0:$('#d-query-text').val()};
	};
</script> </block>
<block name="query_ui">
<div class="form-row">
	<label class="form-label"><span>uri或功能描述</span></label> <input id="d-query-text" type="text" class="form-text anchor_c{$k}" cid="c{$k++}" placeholder="搜索uri或功能描述" />
<button class="btn btn-primary btn-sm d-query-btn"><i class="fa fa-search"> 查询</i></button>
</div>
</block>