<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<block name="title">
<title>汉高微信后台管理</title>
</block>
<link href="/res/css/bootstrap.min.css" rel="stylesheet">
<link href="/res/css/font-awesome.css" rel="stylesheet">
<link href="/res/css/mydialog.css" rel="stylesheet">
<style type="text/css">
body {
	padding: 5px;
}
</style>
</head>
<body>
	<div id="query_ui">
		<div class="form-row">
			<label class="form-label"><span>uri或功能描述</span></label> <input id="d-query-text" type="text" class="form-text" placeholder="搜索uri或功能描述" />
		</div>
	</div>
	<div>
		<ul id="asslist" class="list-group"></ul>
	</div>
	<div>已经有权限 <button class="btn btn-primary btn-sm opt-save"><i class="fa fa-save"> 保存</i> </button></div>
	<div>
		<ul id="relations" class="list-group"></ul>
	</div>
	<script type="text/javascript" src="/res/js/jquery.min.js"></script>
	<script type="text/javascript" src="/res/js/mycore.js"></script>
	<script type="text/javascript" src="/res/js/mydialog.js"></script>
	<script type="text/javascript" src="/res/js/formvals.js"></script>
	<script type="text/javascript">
	var item={$perm};
	var relations={$relations};
	var asslist={$opers};
	var chkrelat=',';
	var chged=false;
	$(function() {
		var i=0;
		for(i=0;i<relations.length;i++){
			chkrelat += relations[i].c1 + ',';
		}
		fillRelations();
		fillAsslist('');

		$('.opt-save').on('click',function(){
			if(!chged){
				$(this).poptip('没有变化，不需要保存',true);
				return ;
			}
			var pdata={};
			pdata.c0=item.id;
			if(chkrelat.length > 1){
				pdata.c1=chkrelat.substring(1,chkrelat.length-1);
			}else{
				pdata.c1='';
			}			
			$.ajaxExt('{$url.save}',pdata,function(jo){
				if(jo.isOk()){
					$('.opt-save').poptip('修改成功',false);
				}else{
					$.alert(jo.getMessage());
				}
			});
		});
		
		$('#d-query-text').on('input',function(){
			var key=$(this).val();
			if(key == ''){
				$('#asslist').html('');
			}
			fillAsslist(key);
		});

		$('#relations').on('click','.opt-cancel',function(){
			var row=$(this).parents('li:first');
			var tid=row.attr('tid');
			chkrelat=chkrelat.replace(','+tid+',',',');
			row.remove();
			chged=true;
		});

		$('#asslist').on('click','.opt-chk',function(){
			var row=$(this).parents('li:first');
			var tid=row.attr('tid');
			if($(this).prop('checked')){
				chkrelat += tid+',';
			}else{
				chkrelat=chkrelat.replace(','+tid+',',',');
			}
			fillRelations();
			row.remove();
			chged=true;
		});
		
	});
	function fillRelations(){
		var html = '',i=0,j=0;
		var chks=chkrelat.split(',');
		for(i=0;i<chks.length;i++){
			if(chks[i] != ''){
				for(j=0;j<asslist.length;j++){
					if(asslist[j]['id'] == chks[i]){
						html += '<li class="list-group-item" tid="'+asslist[j]['id']+'">'+asslist[j]['remark']+'('+asslist[j]['uri']+')  <button class="btn btn-primary btn-sm opt-cancel"><i class="fa fa-trash-o"> 取消</i> </button></li>';
						break;
					}
				}
			}
		}
		$('#relations').html(html);
	}
	function fillAsslist(key){
		var html = '',i=0,j=0;
		for(i=0;i<asslist.length;i++){
			if(chkrelat.indexOf(','+asslist[i]['id']+',') !== -1){
				continue;
			}
			var str=asslist[i]['uri']+asslist[i]['remark'];
			if(key != '' && str.toLowerCase().indexOf(key) === -1){
				continue;
			}
			html += '<li class="list-group-item" tid="'+asslist[i]['id']+'"><label><input type="checkbox" class="opt-chk"> '+asslist[i]['remark']+'('+asslist[i]['uri']+')</label></li>';
			html += '';
		}
		$('#asslist').html(html);
	}
	</script>
</body>
</html>